
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 260 11% 96%;
    --foreground: 255 10% 10%;
    --card: 0 0% 100%;
    --card-foreground: 255 10% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 255 10% 10%;
    --primary: 255 77% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 255 20% 90%;
    --secondary-foreground: 255 77% 20%;
    --muted: 260 10% 90%;
    --muted-foreground: 255 5% 40%;
    --accent: 213 82% 44%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 255 10% 88%;
    --input: 255 10% 88%;
    --ring: 255 77% 55%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 255 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 255 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 255 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 255 77% 65%;
    --primary-foreground: 255 10% 10%;
    --secondary: 255 10% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 255 10% 14.9%;
    --muted-foreground: 255 5% 63.9%;
    --accent: 213 82% 54%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 255 10% 14.9%;
    --input: 255 10% 14.9%;
    --ring: 255 77% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
